<%- include("../partials/header")%>
<%- include("../partials/navbar")%>


<header>
 <div class="main_header__div d-flex align-items-start
 justify-content-center  flex-column shadow pl-5">
         <p>Thapa Technical</p>
         <!-- <h2 class="text-uppercase">the Progammer guy</h2> -->
         <h2 class="animateWord">
             <span>He is</span>
             <div>
               
                 <ul class="flip4">
                     <li> a Progammer </li>
                     <li> a Youtuber</li>
                     <li> a Freelancer</li>
                     <li> Awesome </li>
                 </ul>
             </div>
         </h2>
         <button class="text-uppercase">subscribe</button>
     </div>
 </header>